.gradle/
build/
**/build/

local.properties
.gradle-cache/

.idea/
*.iml
*.ipr
*.iws

.navigation/
captures/
.externalNativeBuild/
.cxx/

*.log

*.apk
*.ap_
*.aab

*.so
*.o
*.obj

*.jks
*.keystore

.DS_Store
Thumbs.db

*.class
*.kotlin_module

lint-results*.xml
lint-results*.html
lint-results*.sarif
coverage/
test-results/

google-services.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

tmp/
out/
zlslsl